- name: Read oom_errors from File
  slurp:
    src: "/tmp/oom_errors.txt"
  register: oom_errors_file

An OutOfMemoryError was detected in WebLogic logs.

Log file: {{ latest_log_file.content }}

Error details:
{{  oom_errors_file.content }}
